
.container {
    position: relative;
    z-index: 98;

    .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        cursor: pointer;
        border: 1px solid var(--base-light);
        height: var(--input-height);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 var(--padding-base);
        background: var(--foreground);
        z-index: 98;
        border-radius: 3px;
    }
}

.backdrop {
    width: 100%; height: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top:0;
}