.container {
    width: 100%;
    border: 1px solid var(--base-pale);
    height: 5.25vh;
    min-height: 5.25vh;
    position: relative;
    padding: 0;
    z-index: 98;
    background: var(--foreground);
    border-radius: 3px;
}

.container:hover {
    filter:brightness(1.166);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    background: rgba(0, 0, 0, 0.2);
}

.nameContainer {
    position: absolute;
    font-size: var(--header-four);
    font-family: var(--font-heading);
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    height: calc(100% - 1pc);
    cursor: pointer;
    line-height: 0.866;
    margin: 0;
    padding: var(--padding-base);
}

.openIconContainer {
    position: absolute;
    text-align: center;
    width: calc(100% - 1px);
    height: 1pc;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.02);
}
.openIconContainer svg {
    width: 100%; height: 100%;
}

.closeIcon {
    position: absolute;
    bottom: 0;
    width: 3vh;
    height: 3vh;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
}

.nodeContainer {
    position: absolute;
    left:-1px;
    width: calc(100% + 2px);
    height: fit-content;
    border: 1px solid var(--base-pale);
    border-top: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--foreground);
    transform-origin: 0 0%;
    padding: calc(var(--padding-base) * 2);
    padding-bottom: 2pc;
    z-index: 99;
    transition: transform 20ms linear;
}
